{{- $gnome := lookPath "gnome-shell" | not | not -}}

{{- $headless := true -}}
{{- $ephemeral := not stdinIsATTY -}}

{{- if $gnome -}}
{{-   $headless = false -}}
{{- else if stdinIsATTY -}}
{{-   $headless = promptBoolOnce . "headless" "headless" false -}}
{{-   $ephemeral = promptBoolOnce . "ephemeral" "ephemeral" false -}}
{{- end -}}

{{- $email := default "michael@taron.dev" (env "GIT_AUTHOR_EMAIL") -}}

{{/* workloads */}}
{{- $kubernetesWorloadEnabled := lookPath "kubectl" | not | not }}
{{- $kubernetesVersions := list "1.33" "1.34" -}}
{{- $kubernetesVersion := "1.33" -}}

{{- $dockerWorloadEnabled := lookPath "docker" | not | not }}

{{- $azureWorloadEnabled := lookPath "az" | not | not }}

{{- $dotnetWorloadEnabled := lookPath "dotnet" | not | not }}

{{/* dynamic configuration */}}
{{- if stdinIsATTY -}}
{{-   $email = promptStringOnce . "user.email" "email" $email -}}
{{-   if not $kubernetesWorloadEnabled -}}
{{-     $kubernetesWorloadEnabled = promptBool "☸ kubernetes" $kubernetesWorloadEnabled -}}
{{-   end -}}
{{-   if $kubernetesWorloadEnabled -}}
{{-     $kubernetesVersion = promptChoice "☸ kubernetes version" $kubernetesVersions $kubernetesVersion -}}
{{-   end -}}
{{-   if not $dockerWorloadEnabled -}}
{{-     $dockerWorloadEnabled = promptBool "🐳 docker" true -}}
{{-   end -}}
{{-   if not $azureWorloadEnabled -}}
{{-     $azureWorloadEnabled = promptBool "☁ azure" false -}}
{{-   end -}}
{{-   if not $dotnetWorloadEnabled -}}
{{-     $dotnetWorloadEnabled = promptBool "dotnet" false -}}
{{-   end -}}
{{- end -}}

gitHub:
  refreshPeriod: "15m"

data:
  headless: {{ $headless }}
  gnome: {{ $gnome }}
  ephemeral: {{ $ephemeral }}
  work: {{ eq $email "mtaron@docugami.com" }}

  user:
    name: "Michael Taron"
    email: {{ quote $email }}
    github: "mtaron"
    onepasswordAccount: "4JYUJGXG2RAP5P2ZFLLHMMM33U"

  workload:
    docker:
      enabled: {{ $dockerWorloadEnabled }}
    kubernetes:
      enabled: {{ $kubernetesWorloadEnabled }}
      version: {{ quote $kubernetesVersion }}
    azure:
      enabled: {{ $azureWorloadEnabled }}
    dotnet:
      enabled: {{ $dotnetWorloadEnabled }}
