{{- $gnome := lookPath "gnome-shell" | not | not -}}

{{- $headless := true -}}
{{- $ephemeral := not stdinIsATTY -}}

{{- if $gnome -}}
{{-   $headless = false -}}
{{- else if stdinIsATTY -}}
{{-   $headless = promptBoolOnce . "headless" "headless" false -}}
{{-   $ephemeral = promptBoolOnce . "ephemeral" "ephemeral" false -}}
{{- end -}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $email := default "michael@taron.dev" (env "GIT_AUTHOR_EMAIL") -}}

gitHub:
  refreshPeriod: "15m"

data:
  headless: {{ $headless }}
  gnome: {{ $gnome }}
  ephemeral: {{ $ephemeral }}
  osid: {{ quote $osid }}
  work: {{ eq $email "mtaron@docugami.com" }}

  user:
    name: "Michael Taron"
    email: {{ quote $email }}
    github: "mtaron"
    onepasswordAccount: "4JYUJGXG2RAP5P2ZFLLHMMM33U"
