# dotfile manager: zgenom
.local/share/zgenom:
  type: git-repo
  url: https://github.com/jandamm/zgenom.git
  clone:
    args: [ "--depth", "1" ]

{{ if eq .osid "linux-ubuntu" -}}
.local/bin/direnv:
  type: file
  url: {{ gitHubLatestReleaseAssetURL "direnv/direnv" "direnv.linux-amd64" | quote }}
  executable: true

.local/bin/yq:
  type: archive-file
  url: {{ gitHubLatestReleaseAssetURL "mikefarah/yq" "yq_linux_amd64.tar.gz" | quote }}
  path: ./yq_linux_amd64

.local/bin/atuin:
  type: archive-file
  url: {{ gitHubLatestReleaseAssetURL "atuinsh/atuin" "atuin-x86_64-unknown-linux-gnu.tar.gz" | quote }}
  stripComponents: 1
  path: atuin

{{ $mkcert_version := (gitHubLatestRelease "FiloSottile/mkcert").TagName -}}
.local/bin/mkcert:
  type: file
  url: https://github.com/FiloSottile/mkcert/releases/download/{{ $mkcert_version }}/mkcert-{{ $mkcert_version }}-linux-amd64
  executable: true

{{ $shfmt_version := (gitHubLatestRelease "mvdan/sh").TagName -}}
.local/bin/shfmt:
  type: file
  url: https://github.com/mvdan/sh/releases/download/{{ $shfmt_version }}/shfmt_{{ $shfmt_version }}_linux_amd64
  executable: true

{{ $kubectlVersion := output "curl" "-fsSL" "https://dl.k8s.io/release/stable.txt" | trim -}}
.local/bin/kubectl:
  type: file
  url: {{ printf "https://dl.k8s.io/release/%s/bin/%s/%s/kubectl" $kubectlVersion .chezmoi.os .chezmoi.arch | quote }}
  executable: true
{{- end }}
