{{- /* environment/hardware tags */ -}}
{{- $devcontainer := false -}}{{/* devcontainer (codespaces, vscode) */}}
{{- $codespaces   := false -}}{{/* github codespaces */}}
{{- $vscontainer  := false -}}{{/* vs code remote containers */}}
{{- $isGnome      := lookPath "gnome-shell" | not | not -}}

{{- /* devcontainer detection */ -}}
{{- if (env "CODESPACES") -}}
{{-   $codespaces = true -}}
{{- end -}}
{{- if (env "REMOTE_CONTAINERS_IPC") -}}
{{-   $vscontainer = true -}}
{{- end -}}
{{- if or $codespaces $vscontainer -}}
{{-   $devcontainer = true -}}
{{- end -}}

{{- /* boolean feature tags */ -}}
{{- $headless  := false -}}{{/* no graphical interface */}}

{{- /* preset detection */ -}}
{{- if $devcontainer -}}
{{-   $headless  = true -}}
{{- end -}}

{{/* base configration */}}
{{- if and (not $headless) stdinIsATTY -}}
{{-   $headless = promptBoolOnce . "headless" "headless" false -}}
{{- end -}}

{{- /* email configuration */ -}}
{{- $email := default "michael@taron.dev" (env "GIT_AUTHOR_EMAIL") -}}
{{- if stdinIsATTY -}}
{{    $email = promptStringOnce . "user.email" "email" $email }}
{{- end -}}

data:
  headless: {{ $headless }}
  isGnome: {{ $isGnome }}

  user:
    name: "Michael Taron"
    email: {{ $email | quote }}
    github: "mtaron"

  devcontainer:
    any: {{ $devcontainer }}
    codespaces: {{ $codespaces }}
    vscontainer: {{ $vscontainer }}
