# Everything here is pinned to an immutable reference and verified by checksum.

{{- $zgenomVersion := "d99d5dc4b27695612de2b7054bb583dd19a7235d" }}
.local/share/zgenom:
  type: archive
  url: https://github.com/jandamm/zgenom/archive/{{ $zgenomVersion }}.tar.gz
  stripComponents: 1
  checksum:
    sha256: "e9ab0caa21bde4fa79c64962ff53d3fd1ae38283649b6b84c7a46200a1e6b2aa"

{{- $ohMyZshVersion := "0ee67f042872d1dfab74270c31867771ca35aef4" }}
.local/share/oh-my-zsh:
  type: archive
  url: https://github.com/ohmyzsh/ohmyzsh/archive/{{ $ohMyZshVersion }}.tar.gz
  stripComponents: 1
  checksum:
    sha256: "73a7017cd5cde1d76b4044df9f100c6aeae0feb9820e8529f8c90063d2af3cb9"
  exclude:
    - "*/themes"
    - "*/templates"
    - "*/.github"
    - "*/.devcontainer"

{{ if eq .osid "linux-ubuntu" -}}
{{- $miseVersion := "v2026.9.12" }}
.local/bin/mise:
  type: file
  url: https://github.com/jdx/mise/releases/download/{{ $miseVersion }}/mise-{{ $miseVersion }}-linux-x64
  executable: true
  checksum:
    sha256: "e79ae57945034903aee8aa2ea66b4c7ca9cd4f4edd5a8a78a589cbae6d0f428a"
.config/zsh/completions/_mise:
  type: file
  url: https://github.com/jdx/mise/releases/download/{{ $miseVersion }}/mise.zsh
  checksum:
    sha256: "ad713c3e5198f658a725ecd53f61d587488319586944d844c591148435477b0f"
{{- end }}
