{{ if or .headless (eq .chezmoi.os "darwin") -}}
# On MacOS .profile is not read by the OS, so running it here.
source "$HOME/.profile"
{{- end }}

# zsh paths
export ZDOTDIR="${XDG_CONFIG_HOME:-$HOME/.config}/zsh"
export HISTFILE="$ZDOTDIR/.zsh_history"

# oh-my-zsh paths
export ZSH_CACHE_DIR="${XDG_CACHE_HOME:-$HOME/.cache}/oh-my-zsh"

# custom python startup that does not write history to $HOME
export PYTHONSTARTUP="${XDG_CONFIG_HOME:-$HOME/.config}/python/startup.py"

{{ if lookPath "func" -}}
# disable Azure Function Tools telemetry
export FUNCTIONS_CORE_TOOLS_TELEMETRY_OPTOUT=1
{{- end }}