{{ if eq .chezmoi.os "darwin" -}}
# On MacOS .profile is not read by the OS, so running it here.
source "$HOME/.profile"
{{- end }}

# zsh paths
export ZDOTDIR="${XDG_CONFIG_HOME:-$HOME/.config}/zsh"
export HISTFILE="$ZDOTDIR/.zsh_history"

# oh-my-zsh paths
export ZSH_CACHE_DIR="${XDG_CACHE_HOME:-$HOME/.cache}/oh-my-zsh"

