{{- if not .ephemeral -}}
#!/usr/bin/env sh

set -eu pipefail

APT_KEYRING=/etc/apt/keyrings

add_apt_key()
{
  sudo gpg --yes --dearmor --output "$1"
}

add_apt_source()
{
  sudo tee "/etc/apt/sources.list.d/$1" > /dev/null
}

echo "▶️ adding apt repositories"


echo "▶️▶️ Kubernetes"
curl -fsSL https://pkgs.k8s.io/core:/stable:/v1.34/deb/Release.key \
  | add_apt_key $APT_KEYRING/kubernetes.gpg
echo "deb [signed-by=$APT_KEYRING/kubernetes.gpg] https://pkgs.k8s.io/core:/stable:/v1.34/deb/ /" \
  | add_apt_source kubernetes.list


echo "▶️▶️ Docker"
# https://docs.docker.com/engine/install/ubuntu/#install-using-the-repository
curl -fsSL https://download.docker.com/linux/ubuntu/gpg \
  | add_apt_key $APT_KEYRING/docker.gpg

echo "deb [arch={{ .chezmoi.arch }} signed-by=$APT_KEYRING/docker.gpg] https://download.docker.com/linux/ubuntu {{ .chezmoi.osRelease.versionCodename }} stable" \
  | add_apt_source docker.list

{{ if not .headless -}}
  echo "▶️▶️ Brave"
  # https://brave.com/linux/#debian-ubuntu-mint
  curl -fsSL https://brave-browser-apt-release.s3.brave.com/brave-browser-archive-keyring.gpg \
    | add_apt_key $APT_KEYRING/brave-browser.gpg

  echo "deb [arch={{ .chezmoi.arch }} signed-by=$APT_KEYRING/brave-browser.gpg] https://brave-browser-apt-release.s3.brave.com/ stable main" \
    | add_apt_source brave-browser-release.list
{{- end }}

sudo apt-get update

{{ $packages := list
     "1password-cli"
     "bat"
     "ca-certificates"
     "curl"
     "fd-find"
     "fzf"
     "gh"
     "git-lfs"
     "git"
     "gnupg"
     "jq"
     "kubectl"
     "ripgrep"
     "rustup"
     "shellcheck"
     "units"
     "unzip"
     "xclip"
     "zsh" -}}

{{ $dockerPackages := list
     "docker-ce"
     "docker-ce-cli"
     "containerd.io"
     "docker-buildx-plugin"
     "docker-compose-plugin" -}}
{{   $packages = concat $packages $dockerPackages -}}

{{ if not .headless -}}
{{   $packages = concat $packages (list "brave-browser" "1password") -}}
{{ end -}}

sudo apt-get install --yes {{ $packages | join " " }}

{{- end -}}
