{{- if .gnome -}}
#!/usr/bin/env bash

echo "▶️ disabling desktop icons"
gnome-extensions disable ding@rastersoft.com

echo "▶️ moving user dirs"
mkdir --parents "$HOME/files"

folders=()

add_folder() {
    [[ -d "$HOME/$1" ]] && folders+=("$HOME/$1")
}

add_folder "Downloads"
add_folder "Templates"
add_folder "Documents"
add_folder "Music"
add_folder "Pictures"
add_folder "Video"

if (( ${#folders[@]} )); then
    mv --target-directory="$HOME/files" --no-clobber "${folders[@]}"
fi

{{- end -}}
