{{ if eq .osid "linux-ubuntu" -}}
# update OS dependencies
alias apt-up='sudo apt update && sudo apt -V --yes upgrade'
{{- end }}

# run sudo with the current PATH environment variable
alias psudo='sudo env "PATH=$PATH"'

# remove untracked files and directories
alias git-clean='git clean --force -X -d'

{{ if lookPath "code" -}}
alias c='code .'
{{- end }}

alias k='kubectl'
alias kl='kubectl logs --follow'

alias rgf='rg --files | rg'

# colorize help output with bat
alias -g -- --help='--help 2>&1 | bat --language=help --style=plain'
