#!/usr/bin/env bash

set -euo pipefail

source "${CHEZMOI_WORKING_TREE}/scripts/utils.sh"

{{ $dive_version := (gitHubLatestRelease "wagoodman/dive").TagName -}}

tmp_dir=$(mktemp --directory)
curl --show-error --silent --fail --location \
    --output "$tmp_dir"/dive.deb \
    "https://github.com/wagoodman/dive/releases/download/{{ $dive_version }}/dive_{{ trimPrefix "v" $dive_version }}_linux_{{ .chezmoi.arch }}.deb"

sudo dpkg --install "$tmp_dir"/dive.deb
rm -rf "$tmp_dir"
green "Installed dive $(dive --version)"
