{{- if not .headless -}}
#!/usr/bin/env sh

echo "▶️ updating font cache"

{{ $fontFolder := joinPath .chezmoi.homeDir ".local/share/fonts" -}}
# folder size: {{ (stat $fontFolder).size }}
fc-cache --really-force {{ $fontFolder }}
{{- end -}}
