#!/usr/bin/env bash

set -euo pipefail

source "${CHEZMOI_WORKING_TREE}/scripts/utils.sh"

{{ $goMajorVersion := "1.27" -}}
{{- $goVersionFilter := printf `.[] | select(.stable == true) | .version | select(startswith("go%s"))` $goMajorVersion -}}
{{- $goVersion := output "curl" "-fsSL" "https://go.dev/dl/?mode=json" | fromJson | jq $goVersionFilter | first -}}

install_dir=${XDG_DATA_HOME:-$HOME/.local/share}
bin_dir=${XDG_BIN_DIR:-$HOME/.local/bin}
rm -rf "$install_dir/go"

curl --show-error --silent --fail --location "https://go.dev/dl/{{ $goVersion }}.linux-{{ .chezmoi.arch }}.tar.gz" \
    --header "Accept: application/octet-stream" |
    tar --extract --ungzip --directory "$install_dir"

ln --symbolic --force "$install_dir/go/bin/go" "$bin_dir/go"
ln --symbolic --force "$install_dir/go/bin/gofmt" "$bin_dir/gofmt"

green "Installed Go $(go version)"
