#!/usr/bin/env bash

set -euo pipefail

source "${CHEZMOI_WORKING_TREE}/scripts/utils.sh"

{{ $task_version := (gitHubLatestRelease "go-task/task").TagName -}}

tmp_dir=$(mktemp --directory)
curl --show-error --silent --fail --location \
    --output "$tmp_dir"/task.deb \
    "https://github.com/go-task/task/releases/download/{{ $task_version }}/task_{{ trimPrefix "v" $task_version }}_linux_{{ .chezmoi.arch }}.deb"

sudo dpkg --install "$tmp_dir"/task.deb
rm -rf "$tmp_dir"
green "Installed task $(task --version)"
