{{- if lookPath "dotnet-suggest" -}}
_dotnet_zsh_complete:
  type: file
  url: https://raw.githubusercontent.com/dotnet/command-line-api/main/src/System.CommandLine.Suggest/dotnet-suggest-shim.zsh
  refreshPeriod: "744h"
{{- end }}
