[Desktop Entry]
Type=Application
Exec=/usr/bin/1password --silent
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=1Password
Name=1Password
Comment[en_US]=Password management and SSH agent
Comment=Password management and SSH agent
