[user]
	name = {{ .user.name }}
	email = {{ .user.email }}
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILAaPwK+CJJZPjw8dH9fLqiMsoLOojmIvmAhIuxHzZhj

[gpg]
	format = ssh

[commit]
	gpgsign = true
	verbose = true

[column]
	ui = auto

[branch]
	sort = -committerdate

[tag]
	sort = version:refname

[pull]
	ff = true
	rebase = true

[push]
	default = simple
	autoSetupRemote = true
	followTags = true

[help]
	autocorrect = prompt

[rerere]
	enabled = true
	autoupdate = true

[credential]
	helper =
{{- if lookPath "git-credential-manager" }}
	helper = {{ lookPath "git-credential-manager" }}
{{- end }}
{{- if .gnome }}
	credentialStore = secretservice
{{- end }}
{{ if .work -}}
	azreposCredentialType = oauth
[credential "https://dev.azure.com"]
	useHttpPath = true
{{- end }}
[credential "https://github.com"]
	username = {{ .user.github }}
{{- $gh := lookPath "gh" -}}
{{- if $gh }}
	helper =
	helper = {{ quote $gh }} auth git-credential
{{- end }}

[init]
	defaultBranch = main

[diff]
	# Git diff will use (i)ndex, (w)ork tree, (c)ommit and (o)bject
	# instead of a/b/c/d as prefixes for patches
	mnemonicprefix = true
	algorithm = histogram
	colorMoved = dimmed-zebra
	renames = true
{{- if lookPath "code" }}
	guitool = vscode
	tool = vscode

[merge]
	tool = vscode

[mergetool "vscode"]
	cmd = code --wait --merge \"$REMOTE\" \"$LOCAL\" \"$BASE\" \"$MERGED\"

[difftool "vscode"]
	cmd = code --wait --diff \"$LOCAL\" \"$REMOTE\"

[difftool]
	prompt = false
{{- end }}

[rebase]
	autoSquash = true
	autoStash = true
	stat = true
	updateRefs = true

{{ if lookPath "git-lfs" -}}
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
{{- end }}

[alias]
	prune = fetch --prune
	stash-all = stash save --include-untracked

[fetch]
	prune = true
	pruneTags = true
	all = true

{{ if .work -}}
[credential "azrepos:org/classifyprocess"]
	username = {{ .user.email }}
	azureAuthority = https://login.microsoftonline.com/36a81f24-9b50-497e-9bf9-927de14bb0ab
{{- end }}
