[Desktop Entry]
Version=1.0
Type=Application
Name=kitty
GenericName=Terminal emulator
Comment=Fast, feature-rich, GPU based terminal
TryExec=kitty
Exec=/home/mtaron/.local/share/kitty/bin/kitty
Icon=/home/mtaron/.local/share/kitty/share/icons/hicolor/256x256/apps/kitty.png
Categories=System;TerminalEmulator;
